<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lorteam.mobilelor">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/mobilelor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar2">
        <activity android:name=".MainActivity"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FAQsActivity" android:label="" />
        <activity android:name=".listFAQ" android:label="" />
        <activity android:name=".SignupActivity" android:label="" />
        <activity android:name=".ForgotPasswordActivity" android:label="" />
        <activity android:name=".HomeRequesterActivity" android:label="" />
        <activity android:name=".HomeIssuerActivity" android:label="" />
        <activity android:name=".HomeAdminActivity" android:label="" />
        <activity android:name=".profileRequesterActivity" android:label=""/>
        <activity android:name=".requestLORActivity" android:label="" />
        <activity android:name=".listReqActivity" android:label="" />
        <activity android:name=".contactusActivity" android:label="" />
        <activity android:name=".EditProfileRActivity" android:label=""/>
        <activity android:name=".DetailsRequestActivity" android:label=""/>
        <activity android:name=".profileIssuerActivity" android:label=""/>
        <activity android:name=".listIssActivity" android:label=""/>
        <activity android:name=".EditProfileIActivity" android:label=""/>
        <activity android:name=".ResponseActivity" android:label=""/>
        <activity android:name=".WriteActivity" android:label=""/>
        <activity android:name=".RejectActivity" android:label=""/>
        <activity android:name=".Step1Activity" android:label=""/>
        <activity android:name=".customActivity" android:label=""/>
        <activity android:name=".Step2Activity" android:label=""/>
        <activity android:name=".Step3Activity" android:label=""/>
        <activity android:name=".Step4Activity" android:label=""/>
        <activity android:name=".EditTemplateActivity" android:label=""/>
        <activity android:name=".EditAccountActivity" android:label=""/>
        <activity android:name=".EditIntroActivity" android:label=""/>
        <activity android:name=".EditBodyActivity" android:label=""/>
        <activity android:name=".EditConActivity" android:label=""/>
        <activity android:name=".EditRejActivity" android:label=""/>
        <activity android:name=".contactusIActivity" android:label=""/>
        <activity android:name=".createAdmin" android:label=""></activity>
    </application>

</manifest>